<!--<div * ngIf="status; else unset">-->
<div>
    <h3>Кладовщики</h3>
    <form ng-submit="addStorekeeper(storekeeper)">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Кол-во деталей</td>
                    <td>Удалить</td>
            </thead>
            <tbody>
                <tr *ngFor="let storekeeper of storekeepers">
                    <td>{{storekeeper.name}}</td>
                    <td>{{storekeeper.quantity}}</td>
                    <td><a href="" ng-click="deleteStorekeeper(storekeeper.Storekeeper.Id)" ng-hide="storekeeper.Quantity > 0" disabled><i class="fa fa-user-times"></i></a></td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="edit(storekeeper)">Изменить</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(storekeeper.id)" style="margin-left:20px;">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isNew;else unset">
            <button mat-button mat-raised-button color="primary" (click)="add(storekeeper)">Добавить</button>
            <button mat-button mat-raised-button color="warn" (click)="cancel()" style="margin-left:20px">Отмена</button>
        </div>
        <ng-template #unset>
            <div>
                <button mat-button mat-raised-button color="primary" (click)="save(storekeeper)">Сохранить</button>
                <button mat-button mat-raised-button color="warn" (click)="cancel()" style="margin-left:20px">Отмена</button>
            </div>
        </ng-template>
    </form>
</div>
