<div>
    <form ng-submit="addDetail(detail)">
        <h3>Детали</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Номенклатурный код</td>
                    <td>Наименование</td>
                    <td>Количество</td>
                    <td>Особоучитываемая</td>
                    <td>Дата создания</td>
                    <td>Дата удаления</td>
            </thead>
            <tbody>
                <tr *ngFor="let detail of details">
                    <td>{{detail.nomenclatureCode}}</td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.quantity}}</td>
                    <td>{{detail.specAccount}}</td>
                    <td>{{detail.createDate | date:'dd.MM.yyyy'}}</td>
                    <td>{{detail.deleteDate | date:'dd.MM.yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>